/* @define Form */

.Form {
  display: flex;
  margin: 0 -0.5em;
}

.Form-item {
  padding: 0.5em;
  margin: 0.5em 0;

  position: relative;

  background: #fff;
}

.Form-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: -1px;
  left: 0;

  background-color: transparent;
  transition:
    bottom 125ms linear,
    background-color 125ms linear;
}

.Form-item.has-focus::after {
  bottom: -3px;
  background-color: #63BEF5;
}

.Form-item.has-error::after {
  background-color: #FC4F41;
}

.Form-item--outlined {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.Form-label {
  display: block;
  margin-bottom: 0.5em;

  color: #808080;
  font-size: calc(18em/16);
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
}

.Form-text,
.Form-range {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;

  font-size: calc(24em/16);
  outline: 0;
  -webkit-appearance: none;
}

.Form-text:disabled {
  color: #808080;
}

.Form-range {
  padding: 0.5em 0;
  background: transparent;
}

.Form-range::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.Form-range::-webkit-slider-thumb {
  width: 1em;
  height: 1em;
  border: 0.5px solid #fff;
  background: #63BEF5;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(calc(-0.5em + (0.25em / 2)));
  -webkit-appearance: none;
}

/* All the same stuff for Firefox */
.Form-range::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border: 0.5px solid #fff;
  background: #63BEF5;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.Form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25em;
  background: #63BEF5;
}

.Form-range:focus::-webkit-slider-runnable-track {
}

.Form-range::-moz-range-track {
  width: 100%;
  height: 0.25em;
  background: #63BEF5;
}

.Form-range::-ms-track {
  width: 100%;
  height: 0.25em;
  background: #63BEF5;
}

.Form-range::-ms-fill-lower {
}

.Form-range:focus::-ms-fill-lower {
}

.Form-range::-ms-fill-upper {
}

.Form-range:focus::-ms-fill-upper {
}

/* All the same stuff for IE */
.Form-range::-ms-thumb {
  width: 1em;
  height: 1em;
  border: 0.5px solid #fff;
  background: #63BEF5;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(calc(-0.5em + (0.25em / 2)));
}

.Form-button {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 0;

  font-weight: bold;
  background: #fff;
  -webkit-appearence: none;
}

.Form-item.is-loading {
  padding-right: 74px;
}

.Form-loader {
  content: "";
  width: 50px;
  height: 50px;

  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
